@font-face {
	font-family: 'TIC-80 Wide';
	src: url('../font/tic-80-wide-font.otf');
}

body {
	text-align: center;
	background-color: rgba(0, 0, 0, 0);
	font-family: 'TIC-80 Wide', monospace;
	font-size: 20pt;
}

#obs-overlay #codeContainer {
    padding-bottom: 30pt;
	font-size: 6pt;
}

#obs-overlay .code {
    display: block;
	width: 100%;
	height: 100%;
	text-align: left;
	padding: 8pt 16pt 8pt 16pt;
	background-color: rgba(129, 115, 112, 0.3);
	color: #ffffff;
	text-shadow: 0 0 3pt #000, 0 0 5pt #fff;
	overflow: hidden;
    unicode-bidi: embed;
    white-space: pre;
	tab-size: 1;
}

#obs-overlay .playerName {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
    height: 30pt;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	color: #ffffff;
	padding: 2pt;
}

#obs-overlay .cursor {
	background-color: red;
}

#stage {
    display: none;
}