html {
    background-color: #d3f5ff;
}

#ws-local-status {
    font-weight: bold;
}

#ws-remote-status {
    font-weight: bold;    
}

#log {
    width: 100%;
    background: white;
    font-family: monospace;
    height: 8em;
    overflow: scroll;
}

#connection-status-panel {
    background: white;
}