body {
    text-align: center;
}

#header {
    padding: 1em;
}

#ws-local-status {
    font-weight: bold;
}

#ws-remote-status {
    font-weight: bold;    
}

#log {
    width: 100%;
    background: white;
    font-family: monospace;
    height: 8em;
    overflow: scroll;
}

#connection-status-panel {
    background: white;
}

.action-button {
    padding: .3em;
    margin: .3em .2em;
    font-size: 2rem;
}

.action-button + .action-button {
    margin-left: 2em;
}