dialog::backdrop {
    background-color: rgba(129, 115, 112, 0.9);
}

body {
    text-align: center;
}

#header {
    padding: 1em;
}

#ws-local-status {
    font-weight: bold;
}

#ws-remote-status {
    font-weight: bold;    
}

#log {
    width: 100%;
    background: white;
    font-family: monospace;
    height: 8em;
    overflow: scroll;
}

#connection-status-panel {
    background: white;
}

.action-button {
    padding: .3em;
    margin: .3em .2em;
    font-size: 2rem;
}

.action-button + .action-button {
    margin-left: 2em;
}

#obs-overlay {
    font-size: 50pt;
    color: #000000;
    text-shadow: 0 0 2pt #fff;
}

#obs-overlay .authorName {
    text-align: right;
}

#obs-overlay .effectName {
    text-align: right;
}